@font-face {
  font-family: 'droid_sansregular';
  src: url('../fonts/droidsans-webfont.woff2') format('woff2'),
  url('../fonts/droidsans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droid_sansbold';
  src: url('../fonts/droidsans-bold-webfont.woff2') format('woff2'),
  url('../fonts/droidsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_slabregular';
  src: url('../fonts/robotoslab-regular-webfont.woff2') format('woff2'),
  url('../fonts/robotoslab-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$main-font: 'droid_sansregular';
$flex-layout: flex;
$main-color: #90202d;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.85;
}
ul {
  list-style: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

#header {
  background: #262c2d;
  .user-menu-bg {
    background: #e2e9ea;
    .container {
      .user-menu {
        display: $flex-layout;
        justify-content: flex-end;
        li {
          background: #919e9f;
          &:first-of-type {
            background: #bfc7c8;
          }
          &:last-of-type {
            background: #00a5e2;
          }
          &:nth-of-type(3) {
            background: #a7b0b1;
          }
          &:hover {
            opacity: 0.85;
          }
          a {
            font-family: 'roboto_slabregular',sans-serif;
            font-size: 12px;
            color: #fff;
            text-transform: uppercase;
            padding: 9px 20px 8px;
            display: block;
          }
        }
      }
    }
  }
  .header-flex-container {
    display: $flex-layout;
    justify-content: space-between;
    height: 100px;
    .logo {
      align-self: center;
    }
    nav {
      .nav {
        display: $flex-layout;
        justify-content: flex-end;
        li {
          display: block;
          width: 125px;
          background: #00a5e2;
          &:first-child {
            background: #b2bdbf;
          }
          &:last-child {
            background: #90a0a3;
          }
          &:nth-child(3) {
            background: #b6c3c5;
          }
          &:nth-child(4) {
            background: #c3cdce;
          }
          &:hover {
            opacity: 0.85;
          }
          a {
            color: #fff;
            font-size: 16px;
            font-family: 'roboto_slabregular',sans-serif;
            display: block;
            position: relative;
            padding: 20px 15px;
            height: 100px;
            &:after {
              content: "";
              border-top: 1px dotted #fff;
              border-left: none;
              display: block;
              width: 46px;
              position: absolute;
              bottom: 15px;
              left: 15px;
            }
          }
        }
      }
    }
  }
}
section {
  background: #f8f8f8;
  border-bottom: 5px solid #fff;
  .container {
    .banner {
      padding: 85px 0 0;
      position: relative;
      .banner-text {
        max-width: 72%;
        h2 {
          font-family: 'droid_sansbold',sans-serif;
          font-size: 24px;
        }
        p {
          font-family: $main-font;
          font-size: 16px;
        }
      }
      .banner-image {
        width: 100%;
        margin-top: -115px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
.content {
  background: #c04248;
  padding-bottom: 180px;
  .container {
    .about-product {
      display: $flex-layout;
      align-items: stretch;
      .m-logo-box {
        width: 240px;
        background: #fff;
        img {
          display: block;
          margin: 50px auto;
        }
      }
      .about-product-text-box {
        padding: 18px 20px;
        background: $main-color;
        h3 {
          font-family: 'droid_sansbold',sans-serif;
          color: #fff;
          font-size: 18px;
          margin-bottom: 15px;
        }
        p {
          font-family: $main-font,sans-serif;
          color: #fff;
          font-size: 14px;
          margin-bottom: 15px;
          line-height: 20px;
        }
      }
    }
    .product-sets {
      display: $flex-layout;
      .product-set-item {
        background: #fff;
        flex-basis: 34%;
        &:nth-of-type(2) {
          background: #f1f1f1;
        }
        &:nth-of-type(2) {
          background: #f1f1f1;
        }
        &:nth-of-type(2) {
          background: #f1f1f1;
        }
        &:nth-of-type(2) {
          background: #f1f1f1;
        }
        a {
          display: block;
          .product-set-title {
            color: $main-color;
            font-family: 'droid_sansbold', sans-serif;
            font-size: 22px;
            text-align: center;
            padding: 25px 5px 23px;
            border-bottom: 6px solid $main-color;
            text-transform: uppercase;
          }
          .product-set-image-box {
            text-align: center;
            padding: 50px 5px 45px;
          }
        }
      }
    }
    .product-sets {
      .product-set-item {
        a {
          .product-set-title {
            font-size: 18px;
            padding: 21px 5px 17px;
            border-bottom: 3px solid $main-color;
          }
          .product-set-image-box {
            padding: 45px 5px;
          }
        }
      }
    }
    .wahlberg-ball {
      display: $flex-layout;
      .wahlberg-image-box {
        max-width: 480px;
        img {
          width: 100%;
        }
      }
      .wahlberg-text-box {
        background: #90202d;
        padding: 40px;
        .wahlberg-title {
          font-size: 50px;
          font-family: 'droid_sansbold', sans-serif;
          line-height: 50px;
          color: #fff;
          text-transform: uppercase;
        }
        a {
          font-size: 17.3px;
          font-family: 'droid_sansbold', sans-serif;
          color: #fff;
          text-transform: uppercase;
          display: inline-block;
          background: #c04248;
        }
      }
    }
  }
}
.widget-container {
  position: relative;
  .widgets {
    display: $flex-layout;
    position: absolute;
    top: -140px;
    display: none;
    .widget {
      width: 320px;
      background: #f5f5f5;
      &:first-child {
        background: #ebebeb;
      }
      &:last-child {
        background: #fff;
      }
      .twitter-widget-title {
        font-family: 'droid_sansbold', sans-serif;
        padding: 16px 10px 12px;
        font-size: 16px;
        background: #00aeef;
        color: #fff;
      }
      .facebook-widget-title {
        @extend .twitter-widget-title;
        background: #2f5b96;
      }
      .instagram-widget-title {
        @extend .twitter-widget-title;
        background: #437197;
      }
      .widget-wrap {
        margin: 10px;
      }
    }
  }
}
#footer {
  background: #fff;
  position: relative;
  .container {
    .footer-bottom {
      background: #fff;
      display: $flex-layout;
      align-items: center;
      justify-content: space-between;
      .copyright {
        font-family: 'roboto_slabregular', sans-serif;
        font-size: 10px;
        color: #a9a9a9;
      }
      .cyber-relief {
        width: 160px;
        span {
          @extend .copyright;
          line-height: 11px;
        }
      }
    }
  }
}