@font-face {
  font-family: 'droid_sansregular';
  src: url("../fonts/droidsans-webfont.woff2") format("woff2"), url("../fonts/droidsans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'droid_sansbold';
  src: url("../fonts/droidsans-bold-webfont.woff2") format("woff2"), url("../fonts/droidsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto_slabregular';
  src: url("../fonts/robotoslab-regular-webfont.woff2") format("woff2"), url("../fonts/robotoslab-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

a:hover {
  opacity: 0.85; }

ul {
  list-style: none; }

.container {
  max-width: 960px;
  margin: 0 auto; }

#header {
  background: #262c2d; }
  #header .user-menu-bg {
    background: #e2e9ea; }
    #header .user-menu-bg .container .user-menu {
      display: flex;
      justify-content: flex-end; }
      #header .user-menu-bg .container .user-menu li a {
        font-family: 'roboto_slabregular';
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        padding: 9px 20px 8px;
        display: block;
        background: #919e9f; }
        #header .user-menu-bg .container .user-menu li a:first-of-type {
          background: #bfc7c8; }
        #header .user-menu-bg .container .user-menu li a:last-of-type {
          background: #00a5e2; }
        #header .user-menu-bg .container .user-menu li a:nth-of-type(3) {
          background: #a7b0b1; }
  #header .header-flex-container {
    display: flex;
    justify-content: space-between;
    height: 100px; }
    #header .header-flex-container .logo {
      align-self: center; }
    #header .header-flex-container nav .nav {
      display: flex;
      justify-content: flex-end; }
      #header .header-flex-container nav .nav li {
        display: block;
        width: 125px; }
        #header .header-flex-container nav .nav li a {
          color: #fff;
          font-size: 16px;
          font-family: 'roboto_slabregular';
          background: #00a5e2;
          display: block;
          position: relative;
          padding: 20px 15px;
          height: 100px; }
          #header .header-flex-container nav .nav li a:after {
            content: "";
            border-top: 1px dotted #fff;
            border-left: none;
            display: block;
            width: 46px;
            position: absolute;
            bottom: 15px;
            left: 15px; }
          #header .header-flex-container nav .nav li a:first-child {
            background: #bfc7c8; }
          #header .header-flex-container nav .nav li a:last-child {
            background: #00a5e2; }
          #header .header-flex-container nav .nav li a:nth-child(3) {
            background: #a7b0b1; }

section {
  background: #f8f8f8;
  border-bottom: 5px solid #fff; }
  section .container .banner {
    padding: 85px 0 0;
    position: relative; }
    section .container .banner .banner-text {
      max-width: 72%; }
      section .container .banner .banner-text h2 {
        font-family: 'droid_sansbold';
        font-size: 24px; }
      section .container .banner .banner-text p {
        font-family: "droid_sansregular";
        font-size: 16px; }
    section .container .banner .banner-image {
      width: 100%;
      margin-top: -115px; }
      section .container .banner .banner-image img {
        max-width: 100%;
        height: auto; }

/*# sourceMappingURL=style.css.map */
